
Comments
/* */


CSS Basics
- External CSS [ tag html .css ]



Simple Selectors
- class > div class



Attribute Selectors
<font> 
- font-family: 'inter', sans-serif; property-jenisfont- Huruf tanpa garis keci
- font-family: ; keluarga huruf            



Background 
- background: var(--bg); property-variable-name variable root 
- background: ; latar belakang 
- 



ALIGN-ITEMS // Meratakan elemen-elemen tengah atas bawah
- align-items: center; Meratakan-elemen-tengah 


JUSTIFY-CONTENT // Meratakan elemen-elemen tengah kiri kanan
- justify-content: center;



BORDER-RADIUS // Membuat sudut-sudut elemen menjadi melengkung, bukan tajam
~ border [ garis tepi/batas elemen ]    ~ radius [ jari-jari lingkaran ]    ~ px [  seberapa besar lengkungannya ]
---
- border-radius: 24px;                  → Semua sudut melengkung sama besar
- border-radius: 10px 20px;             → Sudut atas=10px, sudut bawah=20px
- border-radius: 10px 15px 20px 25px;   → Atas kanan, bawah kanan, bawah kiri, atas kiri





HEIGHT // Tinggi 
- min-height: 100vh; 100vh Tingginya selalu mengikuti tinggi layar
- min-height: ; minimal tinggi 


WIDTH // Lebar
- width: 100%; lebar seluruh 100% 
- max-width: 400px; maximal lebar 400px 






 DISPLAY // Menampilkan
- display: flex; menampilkan-fleksibel Aktifkan sistem fleksibel 





PROPERTY & VALEU BOX MODEL 
- box-sizing: border-box;               - box-shadow: var(--shadow);
box =    [ kotak / elemen ]               box        [ kotak ]
sizing = [ penentuan ukuran ]             shadow     [ bayangan ]
border = [ garis tepi / batas ]           var        [ variabel root 
box =    [ kotak / elemen ]               (--shadow) [ nama variabel root ]





MARGIN & PADDING // batas & lapisan 
- margin: 0; batas                             - padding: 0; lapisan
-                                              - padding: 24px 16px; lapisan [ atas dan bawah ] kiri dan kanan
                                               - padding: 48px 36px 40px; lapisan [ atas ] kiri-kanan [ bawah ]


RESET DASAR .CSS
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
