
Comments
/* */

CSS Basics
- External CSS [ tag html .css ]


Simple Selectors
- class > div class


Attribute Selectors
<font> 
- font-family: 'inter', sans-serif; property-jenisfont- Huruf tanpa garis keci
- font-family: ; keluarga huruf            



Background
- background: var(--bg); property-variable-name variable root 
- background: ; latar belakang 
- 



PROPERTY & VALEU BOX MODEL 
- box-sizing: border-box;               - box-shadow: var(--shadow);



MARGIN PADDING
- margin: 0;                               - padding: 0;




RESET DASAR .CSS
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
